<nav class="navbar navbar-expand-lg clos" style="background-color: #1976d2">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="index.html">
          <img src="assets/img/tismart.png" alt="Logo" style="margin-left: 2rem;"> 
          <span style="color: rgb(255, 230, 0); font-weight: bold;">Sistema</span><span style="color: rgb(255, 255, 255);">Hospitales</span>
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/lista-hospitales">Hospitales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/galeria">Gerentes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">Distritos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/voluntariado">Sedes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contacto">Condición</a>
          </li>
          <li class="nav-item">
            <a class="nav-link  btn  mx-2" style="background-color: #004494;" (click)="cerrarSesion()">Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  