<app-navbar></app-navbar>
<div class="gallery-container">
    <div class="gallery-header">
      <h4 style="color:  #1976d2;">Sistema de Gestión Hospitalaria</h4>
      <p>
        Bienvenido al <strong>Sistema de Gestión Hospitalaria</strong>, una plataforma diseñada para facilitar la administración de hospitales 
        de manera eficiente y organizada. Con esta herramienta, podrás registrar nuevos hospitales, actualizar su información, 
        eliminar registros y consultar detalles clave como su ubicación, sede, condición y personal directivo. 
      </p>
    </div>
  
    <div class="gallery">
      <div class="thumbnail">
        <img src="assets/img/hospital1.jpg" alt="Imagen 1">
      </div>
      <div class="thumbnail">
        <img src="assets/img/hospital2.jpg" alt="Imagen 2">
      </div>
      <div class="thumbnail">
        <img src="assets/img/hospital3.jpg" alt="Imagen 3">
      </div>
    </div>
  </div>
  